<h3>Equipment</h3>
<ul>

  <li *ngFor="let equipment of equipmentList">
    <span *ngIf="equipmentBeingEdited !== equipment; else elseBlock">
      <span (click)="editEquipment(equipment)" class = "editable-text">{{equipment}}</span>
      <button (click)="removeEquipment(equipment)">remove</button>
    </span>
    <ng-template #elseBlock>
      <input #updateEquipment (keyup.enter)="saveEquipment(updateEquipment.value)" value="{{equipment}}"/>
      <button (click)="saveEquipment(updateEquipment.value)">save</button>
    </ng-template>
  </li>
</ul>

<input #equipment type="text"/>
<button (click)="addEquipment(equipment.value)">Add</button>
